.header {
    display: flex;
    flex-wrap: wrap;

    @include media-query(large) {
        position: relative;
    }

    &__search {
        display: flex;
        justify-content: center;
        flex-basis: 100%;

        margin: 20px;


    }

    &__input {
        flex-basis: 50%;

        display: block;
        padding: 0 20px;

        &:focus {
            font-weight: bold;
        }
    }

    &__btn {
        padding: 20px;
        margin-left: 2vh;

        text-transform: uppercase;
        background-color: white;
        border: 2px solid black;
        letter-spacing: 2px;

        &:hover {
            background-color: #000;
            color: white;
            transition: 0.4s;
            cursor: pointer;
        }
    }

    &__logo {
        width: 188px;
        height: 61px;

        @include media-query(large) {
            position: absolute;
            left: 0;
            top: 20px;
        }
    }

    &__icon {
        align-self: center;

        display: block;
        color: gray;
        font-size: 4rem;
        margin: 2vh;

    }

    &__icon:first-of-type {
        margin-left: auto;

        @include media-query(large) {
            position: absolute;
            right: 0;
            top: 10px;
        }

    }

    &__icon:nth-of-type(2) {

        @include media-query(large) {
            position: absolute;
            right: 50px;
            top: 10px;
        }

    }

    &__icon:nth-of-type(3) {

        @include media-query(large) {
            position: absolute;
            right: 100px;
            top: 10px;
        }
    }

}